.footer {
  height: 100px;
  background-color: #131a22;
  color: white;
  margin-left: -10px;
  margin-right: -10px;
}
.footer__items {
  height: 100px;
  display: flex;
  width: 800px;
  margin: auto;
  align-items: center;
}
.footer__items span {
  padding: 10px;
}
