.imageUpload{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* margin-right: auto; */
    margin-left: 20%;
    margin-top: 10px;
    /* position: fixed;
    bottom: 0; */
    z-index: 10;
    background-color: white;
    border-top: 1px solid lightgray;
}