.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 40px;
    
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__text{
    font-weight: normal;
    margin: 10px 10px;
}
.post__header {
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
}
.post__headerText {
    margin-top: 8px;
    margin-left: 5px;
}