.checkoutFlex {
    display: flex;
}
.checkout__image {
    width: 100%;
    height: 70px;
    width: 50%;
}
.checkout__title {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}